/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/dist-newstyle/
.vscode
public/app.js
.pre-commit-config.yaml
.spago2nix
result
.DS_Store 
output-es
public/*bundle.js*
public/*module.wasm 
public/config.json
# E2E tests
!e2e/yarn.lock
e2e/node_modules
e2e/reports
e2e/dist
e2e/env
prototypes/marlowe-graph/node_modules
prototypes/marlowe-graph/public

