/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/dist-newstyle/
.vscode
public/app.js
.pre-commit-config.yaml
# E2E tests
!e2e/yarn.lock
e2e/node_modules
e2e/reports
e2e/dist
e2e/env
