@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-family-base: 'Outfit', sans-serif;
$primary: #511CF7;
$success: #17A98F;
$warning: #E8740A;
$danger: #FF515B;
$disabled: #BDBDBD;
$secondary: #F7F7F8;
$navbar-light-color: transparent;
$navbar-light-bg: transparent;
$link-color: #511CF7;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/utilities";

.top-10 {
  top: 10px;
}

.margin-top-minus-1 {
  margin-top: -1px !important;
}

.border-bottom-4px {
  border-bottom-width: 4px !important;  /* Set the border width to 3px */
}
.border-bottom-white {
  border-bottom-color: white !important; /* Set the border color to white */
}

// Replace with tilewind style!

.table th, td {
  text-align: center;
  vertical-align: middle;
}

.table thead th, td {
  border: none;
}

.card {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.icon {
  height: 20px; /* Adjust as needed */
  margin-right: 10px; /* Space between icon and text */
}

.icon-after {
  height: 20px; /* Adjust as needed */
  margin-left: 10px; /* Space between text and icon */
}

.cardano-badge {
  display: flex;
  padding: 0.375rem 0.6875rem;
  justify-content: flex-end;
  align-items: center;
  gap: 0.375rem;
  border-radius: 0.25rem;
  border: 1px solid var(--primary-blue, #0038FF);
  background: #FBFCFF;
}


.large-switch {
  font-size: 20px;
}

/*************************** Exceptions - styled specifically through CSS because we are not able to control them through className ***************************/

#app-root {
  background: linear-gradient(to right, #F8F6FF 0%, #F8F6FF 50%,  white 50%, white 100%)
}
#app-root.contract-list-page {
  background: white;
}

#app-root.contract-list-page #marlowe-logo-container.background-color-primary-light {
  background: white !important;
}

/* spacing for fixed navbar and footer */
.pt-59px {
  padding-top: 59px !important;
}

.pb-71px {
  padding-bottom: 71px !important;
}

.nav-pills .nav-item {
  @extend .me-2;
  button {
    border-radius: 1.125rem !important;
    background: #FFF !important;
    border: 1px solid #000 !important;
    color: #000 !important;
    opacity: 0.5 !important;

    /* box shadow */
    box-shadow: 0px 2px 2px 0px rgba(205, 205, 205, 0.25) !important;
    padding: 0.5625rem 1.0625rem !important;
    justify-content: center  !important;
    align-items: center !important;
    gap: 0.625rem !important;
    display: flex !important;
  }
  button.active {
    opacity: 1 !important;
  }
}

/* We don't have (or don't know how to) control of `pre` generated by `highlight.js` */
.child-pre-m-0 > pre {
  margin: 0 !important;
}

.child-pre-p-0 > pre {
  padding: 0 !important;
}

.child-pre-px-0 > pre {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.child-pre-py-0 > pre {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.child-pre-bg-white > pre {
  background-color: #fff !important;
}

.child-pre-bg-transparent > pre {
  background-color: transparent !important;
}


/****************************************************************************************************/

// These should be probably turned into "specific" classes mt-59px and mb-71px
.pt-navbar-placeholder {
  margin-top: 59px !important;
}

.pb-footer-placeholder {
  margin-bottom: 71px !important;
}

/***************************************************************/

.min-height-100vh {
  min-height: 100vh;
}

.min-height-100-percent {
  min-height: 100%;
}

.shadow-bottom {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

.shadow-top {
  box-shadow: 0 -4px 2px -2px rgba(0, 0, 0, 0.1);
}

.table-layout-fixed {
  table-layout: fixed;
}

.border-radius-0_875rem {
  border-radius: 0.875rem;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.primary-color {
  color: $primary;
}

.text-color-dark {
  color: #000 !important;
}

.text-color-gray {
  color: #5A5A5A !important;
}

.background-color-primary {
  background-color: $primary;
}

.background-color-primary-hover:hover {
  background-color: $primary !important;
}

.background-color-primary-light {
  background-color: #F8F6FF !important;
}

.disabled-color {
  color: $disabled;
}

.success-color {
  color: $success;
}

.warning-color {
  color: $warning;
}

.danger-color {
  color: $danger;
}

.white-color {
  color: #fff;
}

.alert-success {
  --bs-alert-color:#17A98F !important;
  --bs-alert-bg:#F8FFFB !important;
  --bs-alert-border-color: #17A98F !important;
}

.alert-warning {
  --bs-alert-color: #E8740A !important;
  --bs-alert-bg:#FFFCF9 !important;
  --bs-alert-border-color: #E8740A !important;
}

.alert-danger {
  --bs-alert-color: #FF515B !important;
  --bs-alert-bg:#FFF8F8 !important;
  --bs-alert-border-color: #FF515B !important;
}

.alert-dismissible .btn-close {
  padding: 0.65rem 0.5rem !important;
}

.loading {
  animation: pulse 1s infinite;
}

.font-size-2rem {
  font-size: 2rem;
}

.font-size-1rem {
  font-size: 1rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.blur-bg {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

.hide-vertical-scroll {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.hide-vertical-scroll::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.h-vh50 {
  height: 50vh !important;
}

.h-vh60 {
  height: 60vh !important;
}

.h-vh70 {
  height: 70vh !important;
}

.h-vh80 {
  height: 80vh !important;
}

.h-vh90 {
  height: 90vh !important;
}

.h-vh100 {
  height: 100vh !important;
}

.ps-12px {
  padding-left: 12px !important;
}

// Custom styles required to provide spacing under sticky navbar and above footer
.pt-59px {
  padding-top: 59px !important;
}

.position-left-50 {
  left: 50% !important;
}

.transform-translate-x--50 {
  transform: translate(-50%, 0) !important;
}

.font-weight-bold {
  font-weight: bold !important;
}


.z-index-sticky {
  z-index: $zindex-sticky;
}

.z-index-fixed {
  z-index: $zindex-fixed;
}

.z-index-modal-backdrop {
  z-index: $zindex-modal-backdrop;
}

.z-index-offcanvas {
  z-index: $zindex-offcanvas;
}

.z-index-modal {
  z-index: $zindex-modal;
}

.z-index-popover {
  z-index: $zindex-popover;
}

.z-index-tooltip {
  z-index: $zindex-tooltip;
}

.cursor-auto { cursor: auto; }
.cursor-copy { cursor: copy; }
.cursor-grab { cursor: grab; }
.cursor-move { cursor: move; }
.cursor-not-allowed { cursor: not-allowed; }
.cursor-pointer { cursor: pointer; }

.pointer-events-none { pointer-events: none; }
/* Not sure which one actually "fixes" the flickering problem.. */
.tooltip { position: fixed !important; }
.bs-tooltip-start { position: fixed !important; }

$utilities: map-merge(
  $utilities, (
    "text-decoration": (
      property: text-decoration,
      state: hover,
      values: none underline line-through,
    ),
    // * We use original color classes like `text-mute`, `text-reset`.
    // * We add on hover versions of the above plus version for primary color.
    // * We add `text-color-primary` without hover as well.
    "color": map-merge(
      map-get($utilities, "color"),
      (values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          ("primary": $primary),
        ),
      ),
    ),
    "color-hover": (
      property: color,
      class: text,
      state: hover,
      values: map-merge(
        map-get(map-get($utilities, "color"), "values"),
        ("primary": $primary)
      ),
    ),
    "background-color": (
      property: background-color,
      class: bg,
      local-vars: (
        "bg-opacity": 1
      ),
      state: hover,
      values: map-merge(
        $utilities-bg-colors,
        (
          "transparent": transparent
        )
      )
    ),
    "min-height": (
      property: min-height,
      class: min-h,
      values: (
        0: 0,
        1rem: 1rem,
        1_2rem: 1.2rem,
        1_5rem: 1.5rem,
        2rem: 2rem,
        4rem: 4rem,
        5rem: 5rem,
        8rem: 8rem,
        16rem: 16rem,
        32rem: 32rem,
        full: 100vh,
        screen: 100vh,
      )
    ),
    "width": (
      property: width,
      class: w,
      values: (
        1px: 1px,
        2px: 2px,
        4px: 4px,
        8px: 8px,
        16px: 16px,
        32px: 32px,
        64px: 64px,
        128px: 128px,
        1rem: 1rem,
        1_2rem: 1.2rem,
        1_5rem: 1.5rem,
        2rem: 2rem,
        4rem: 4rem,
        8rem: 8rem,
        9rem: 9rem,
        10rem: 10rem,
        11rem: 11rem,
        16rem: 16rem,
        32rem: 32rem,
        100: 100%,
      )
    ),
    "margin-top": (
      responsive: true,
      property: margin-top,
      class: mt,
      values: map-merge(
        $spacers,
        ( auto: auto,
          6: $spacer * 6,
          7: $spacer * 7,
          8: $spacer * 8,
          9: $spacer * 9,
          10: $spacer * 10,
          11: $spacer * 11,
          12: $spacer * 12,
          13: $spacer * 13,
          14: $spacer * 14
        )
      )
    ),
    "margin-bottom": (
      responsive: true,
      property: margin-bottom,
      class: mb,
      values: map-merge(
        $spacers,
        ( auto: auto,
          6: $spacer * 6,
          7: $spacer * 7,
          8: $spacer * 8,
          9: $spacer * 9,
          10: $spacer * 10,
          11: $spacer * 11,
          12: $spacer * 12,
          13: $spacer * 13,
          14: $spacer * 14
        )
      )
    ),
    // "background-color": (
    //   property: background-color,
    //   class: bgg,
    //   state: hover,
    //   values: map-merge(
    //     $utilities-bg-colors,
    //     (
    //       "transparent": transparent
    //     )
    //   )
    // )
  )
);

// @debug '*** Utilities: #{$utilities}';


@import "bootstrap/scss/bootstrap";
